.menu-wrapper-grid {
  background: #ffffff;
  height: auto;
  &::before {
    content: none;
  }
  &-title {
    color: #31251c;
  }
  
  &-images {
    display: block;
  }
  &-commentary {
    display: flex;
    flex-direction: column;
    > .bread-name {
      font-size: 1.5em;
      width: 200px;
    }
  }
  }

.anpan,
.plain-bread {
  float: left;
}

.croissant,
.sweet-bread {
  float: right;
}

figcaption {
  width: 80%;
  height: 50%;
}

